body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    background: #f9f9f9; 
}

header, footer { 
    background: #eb813b; 
    color: white; 
    padding: 10px; 
    text-align: center; 
    /*transition: background 0.5s ease;  no me gustó*/
}
/* tema de administrador */
.tema-admin header, .tema-admin footer {
    background-color: #234da1;
    /*transition: background 0.5s ease;  no me gustó*/
}

nav a:hover { 
    background-color: #f2f2f2; 
    color:#0044cc
}

/* elementos del nav */
ul li {
    display: inline-block;
}
ul li a {
    display: block;
    border-radius: 4px;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    transition: background 0.25s;
}

form, table { 
    background: white; 
    padding: 15px; 
    border-radius: 10px; 
}

input, select, textarea, button { 
    display: block; 
    margin: 8px 0; 
    width: 100%; 
    padding: 8px; }


th, td { 
    padding: 5px;
}
th {
    background-color: #f2f2f2;
    border-radius: 3px;
}

tr:nth-child(even) {
    background-color:#f2f2f2;
}

/* contenedor para los elementos de la pagina. ayuda a mantener el footer al fondo de la página */
.container { 
    min-height: 100dvh; 
    display: grid; 
    grid-template-rows: auto 1fr auto; 
}

/* contenedor para el formulario de inicio de sesión */
.login-container {
    max-width: 500px; 
    width: 90%;
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
.login-container h2{
    text-align: center; 
    margin-bottom: 10px; 
}

/* contenedor para el formulario de inicio de ingreso de vehículo */
.ingreso-container {
    max-width: 500px; 
    width: 90%;
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
.ingreso-container h2 {
    text-align: center; 
    margin-bottom: 10px; 
}

/* contenedor para la lista de clientes */
.clientes-container {
    margin: 50px auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
.clientes-container h2 {
    text-align: center;
    margin-bottom: 10px; 
}

/* margen para el cuerpo de la página */
main { 
    padding: 20px; 
}